extends layout.pug

block content
  .container.error
    div
      img(src='/img/404.svg')
      p= message
      p 
        small Stumble here by accident? #[a(href='https://diglet.me') Diglet] provides secure public links to your computer.
